<a href="https://colab.research.google.com/github/himanshimr11/Python-work/blob/main/PYTHON_HANDS_ON_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
url='https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df=pd.read_csv(url)
print(df.head())
print("\n")
print(df.dtypes)
print("\n")

#Mean
mean_value=df['Fare'].mean()
print(f"mean value:-{mean_value}")
#Median
median_value=df['Fare'].median()
print(f"median value:-{median_value}")
#Mode
mode_value=df['Fare'].mode()
print(f"mode value:-{mode_value}")
#Variance
var_value=df['Fare'].var()
print(f"variance value:-{var_value}")
#Standard deviation
sd_value=df['Fare'].std()
print(f"standard variation value:-{sd_value}")
#Skewness
skew_value=df['Fare'].skew()
print(f"Skewness:{skew_value}")
#Kurtosis
kurtosis=df['Fare'].kurt()
print(f"Kurtosis:{kurtosis}")
#Range
Range_Fare=df['Fare'].max()-df['Fare'].min()
print(f"Range of Scores:{Range_Fare}")
#Interquartile Range
Q1=df['Fare'].quantile(0.25)
Q3=df['Fare'].quantile(0.75)
IQR=Q3-Q1
print(f"Quartile range:{IQR}")

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S


PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object


mean value:-32.204207968574636
median value:-14.4542
mode value:-0    8.05
Name: Fare, dtype: float64
variance value:-2469.436845743117
standard variation value:-49.693428597180905
Skewness:4.787316519674893
Kurtosis:33.39814088089868
Range of Scores:512.3292
Quartile range:23.0896

In [ ]:
import